
<div class="dashboard">

      <!-- main section -->
       <div class="dashboard-main is-scrollable">
        <div class="hero-head">


            <nav class="navbar" role="navigation" aria-label="main navigation">
              <div class="navbar-brand">
                <a class="navbar-item" routerLink="/">
                  <h2 class="logo">Complaints App</h2>
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
              </div>

              <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">

                  <a class="navbar-item" routerLinkActive="is-active" routerLink="/register-complaint">
                    Register Complaint
                  </a>

                  <a class="navbar-item" routerLinkActive="is-active" routerLink="/track">
                    Track Complaint
                  </a>
                  <a class="navbar-item" routerLink="/instructions">
                    Instructions
                  </a>
                </div>

                <div class="navbar-end">
            <div class="navbar-item" *ngIf="user == null; else loggedIn">
              <div class="buttons">
                <a *ngIf="user?.role == 'Admin'" class="button is-primary" routerLinkActive="is-active" routerLink='signup'>
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light" routerLinkActive="is-active" routerLink='login'>
                  Log in
                </a>
              </div>
            </div> 
            <ng-template #loggedIn>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  {{ user?.name }}   
                <span class="tag is-primary"> {{ user?.role }}</span>

                </a>

                <div class="navbar-dropdown">
                  <a class="navbar-item" routerLinkActive="is-active" routerLink="/dashboard">
                    Dashboard
                  </a>
                  <a *ngIf="user?.role == 'Admin' || user?.role == 'manager'" class="navbar-item"  class="navbar-item" routerLinkActive="is-active" routerLink='allcomplaints'>
                    All Complaints
                  </a>
                  <a *ngIf="user?.role == 'Admin' || user?.role == 'manager'" class="navbar-item"  class="navbar-item" routerLinkActive="is-active" routerLink="regcomplaints">
                    Reg. Complaints
                  </a>
                  <a *ngIf="user?.role == 'Admin' || user?.role == 'manager'" class="navbar-item"  class="navbar-item" routerLinkActive="is-active" routerLink="employees">
                    Employees
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item" (click)="logout()">
                    Logout
                  </a>
                </div>
              </div>
            </ng-template>
            
          </div>


              </div>
            </nav>

            <flash-messages></flash-messages>
            <app-spinner *ngIf="showSpinner"></app-spinner>
            <router-outlet *ngIf="!showSpinner"></router-outlet>
        </div>

    <!--<footer class="footer" id="about">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <a style="color: #3C5A99" href="https://www.facebook.com/Complaint-Receiver-649351742191429/">
                        <i class="fa fa-facebook-square fa-2x"></i>
                    </a>
                    <a style="color: #38A1F3" href="https://twitter.com/ComplaintRecei1">
                        <i class="fa fa-twitter-square fa-2x"></i>
                    </a>
                    <a style="color:#FF4301" href="https://www.reddit.com/r/ComplaintsApp/">
                        <i class="fa fa-reddit fa-2x"></i>
                    </a>
                </p>
                <p>
                    Complaint App (c) Copyright Group 37 of SEN Course, DAIICT.
                    <br>
                    Contact Mail:- <a href="mailto:sen37daiict@gmail.com">sen37daiict@gmail.com</a>
                    <br>
                    Contact Number:- 7575858855
                </p>
            </div>
        </div>
    </footer> -->

      <!--<nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
          </a>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" routerLinkActive="is-active" routerLink="/">
              Home
            </a>
          </div>

          <div class="navbar-end">
            <div class="navbar-item" *ngIf="user == null; else loggedIn">
              <div class="buttons">
                <a class="button is-primary" routerLink='signup'>
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light" routerLink='login'>
                  Log in
                </a>
              </div>
            </div> 
            Dropdown start 
            <ng-template #loggedIn>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  {{ user?.username }}   
                <span class="tag is-primary"> {{ user?.role }}</span>

                </a>

                <div class="navbar-dropdown">
                  <a class="navbar-item" routerLink='allcomplaints'>
                    All Complaints
                  </a>
                  <a class="navbar-item" routerLink="regcomplaints">
                    Reg. Complaints
                  </a>
                  <a class="navbar-item" routerLink="employees">
                    Employees
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item" (click)="logout()">
                    Logout
                  </a>
                </div>
              </div>
            </ng-template>
            
           Dropdown end 

          </div>
        </div>
      </nav>
        <flash-messages></flash-messages>
        <app-spinner *ngIf="showSpinner"></app-spinner>
        <router-outlet *ngIf="!showSpinner" class="outlet"></router-outlet>

      </div> -->
      
    </div>