<div>
  <section class="section">
    <div class="container">
      <div class="content">
        <h1>
          Welcome to Complaints App for citizens!
        </h1>
        <p>This page includes instructions for registering your complaints through various social media platforms and
          this website. You can also
          find instructions on how to track your complaints once accepted. You can also find information on how to
          contact the personnel assigned to your
          complaint thereby increasing reachability and transparency
        </p>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="content">
      <h4>
        Formatting your complaints:
      </h4>
      <ol>
        <li class="nostyle">
          <p>For Reddit and Facebook</p>
          <div class="columns">
            <div class="column is-one-third">
              <div class="box is-pulled-left">
                <div class="table is-pulled-left">
                  <table class="table is-pulled-left">
                    <tr>
                      <td><strong>Location:</strong></td>
                      <td>Your Complaint Location</td>
                    </tr>
                    <tr>
                      <td><strong>Body:</strong> </td>
                      <td>You Complaint Body</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nostyle">
          <p>For Twitter</p>
          <div class="columns">
            <div class="column is-two-thirds">
              <div class="box is-pulled-left">
                <div class="table is-pulled-left">
                  <table class="table is-pulled-left">
                    <tr>
                      <td><strong>Location:</strong></td>
                      <td>Your Complaint Location</td>
                    </tr>
                    <tr>
                      <td><strong>Type:</strong></td>
                      <td>Complaint Type. Must be one of "Water", "Road", "Sanitation", "RTO"</td>
                    </tr>
                    <tr>
                      <td><strong>Body:</strong> </td>
                      <td>You Complaint Body</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ol>
    </div>
  </div>
  <div class="container is-half">
    <br>
    <div class="container">
      <div class="content">
        <h4>
          For registering complaints on this website:
        </h4>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <ol type="1">
          <li>Go to the register complain page <a href="https://complaintsapp-cfa95.firebaseapp.com/register-complaint"
              class="tag is-primary" target='_blank'>here</a></li>
          <li>Fill out all the relevant fields of Email, Name, Location, Type, Body and click Post Complaint</li>
          <li>After your complaint has been approved by the complaints manager, you will receive and Email with the
            tracking link</li>
        </ol>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="content">
        <h4>
          For registering complaints on Reddit:
        </h4>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <ol type="1">
          <li>Go to the complaints app <a href="https://www.reddit.com/r/ComplaintsApp/"
              class="tag is-danger" target='_blank' >subreddit</a></li>
          <li>Create a post with a relevant title and put your complaint in the body with the format described above
          </li>
          <li>If the format was correct, you will get a confirmation comment on your post, otherwise, your post will be
            removed by the moderator</li>
          <li>When the complaints manager approves your complaint, you will get another comment with the tracking link
            for your complaint</li>
        </ol>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="content">
        <h4>
          For registering complaints on Facebook:
        </h4>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <ol type="1">
          <li>Go to the complaints receiver <a href="https://www.facebook.com/Complaint-Receiver-649351742191429/"
              class="tag is-link" target='_blank'>Facebook Page</a> Page</li>
          <li>Click on send message. This will open a popup where you can talk to the complaint receiver</li>
          <li>Write your complaint in the appropriate format and send it as a message here</li>
          <li>If your complaint was formatted properly, you will receive a confirmation message. If not, you will
            receive a message asking you to resend your message in the proer format</li>
          <li>When the complaints manager approves your complaint, you will get another message with the tracking link
            for your complaint</li>
        </ol>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="content">
        <h4>
          For registering complaints on Twitter:
        </h4>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <ol type="1">
          <li>For registering a complaint on Twitter, you can send a message to <a
              href="https://twitter.com/ComplaintRecei2" target='_blank' class="tag is-info">@ComplaintRecei1</a>. Alternatively, you
            can tag the complaints receiver in your tweets to register your complaints</li>
          <li>If your complaint was formatted properly, you will receive a confirmation message/reply. If not, you will
            receive a message asking you to resend your message in the proer format</li>
          <li>When the complaints manager approves your complaint, you will get another message/reply with the tracking
            link for your complaint</li>
        </ol>
      </div>
    </div>
    <br>
    <br>
  </div>