<div class="hero-body">
    <div class="container has-text-centered">
        <div class="columns is-vcentered">
            <div class="column">
                <h3 class="title is-1">
                    Welcome to Complaints App
                </h3>
                <h3 class="subtitle is-5">
                    This WebApp allows citizens to register complaints through webapp or social medias like facebook, twitter and reddit. 
                </h3>
                <hr/>
                <p>Want to post complaints through Social Media? Following are the platforms that we currently support: </p>
                <h2 class="subtitle is-6">
                    <strong>Twitter</strong> : Direct message or tweet on this account 
                    <b><a style="color: #38A1F3" class="is-small is-info is-outlined" href="https://twitter.com/ComplaintRecei2" target='_blank'>
                        Complaint Receiver
                    </a></b>
                </h2>
                <h2 class="subtitle is-6">
                    <strong>Facebook</strong> : Direct message on this page
                    <b><a style="color: #3C5A99" class="is-small is-info is-outlined" href="https://www.facebook.com/Complaint-Receiver-649351742191429/" target='_blank'>
                        Complaint Receiver
                    </a></b>
                </h2>
                <h2 class="subtitle is-6">
                    <strong>Reddit</strong> : Post on this subreddit  
                    <b><a style="color:#FF4301" class="is-small is-info is-outlined" href="https://www.reddit.com/r/ComplaintsApp/" target='_blank'>
                        Complaint Receiver
                    </a></b>
                </h2>
                <p>However, for posting complaints through social media, we have a few instructions and rules that may help you to have your complaints registered successfully. You may check them <b><a style="color:blue" routerLink="/instructions">here</a></b>, it is highly recommended.</p>
                <hr>
                <p>Don't use Social Media? Our guest access may be helpful: </p>
                <h2 class="subtitle is-6">
                    <strong>Guest</strong> : Post your complaints through guest email  
                    <b><a style="color:grey" routerLink="/register-complaint" class="is-small is-info is-outlined">
                        Complaint Receiver
                    </a></b>
                </h2>
                <hr>
                <h2 class="subtitle is-6">Already and Employee or a Manager? <strong><a style="color:blue" routerLink="/login">Login</a></strong></h2>
            </div>
        </div>
    </div>
</div>